<html>
<head>
    <title><%= title %></title>
</head>
<body>
<%- include('includes/navbar', {links: links}) %>
<h1><%= title %></h1>

<ul>
    <% products.map(item => {%>
        <li><%= item.product + " " + item.type + " " + item.manufacturer%></li>
    <%})%>
</ul>

<a href="/products/create">Create a new product</a>
</body>
</html>